.sidebar{
    nav{
    position: fixed;
    left: 0;
        height: 100%;
        background-color: #FFF3E0;


}
}
.headline {
    background-color: $secondary;
    width: 300px;
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    button {
        border: none;
        background-color: transparent;

        p {
            font-size: 18px;
        }
    }
}

.dropdown-toggle {
    background-color: #FFF3E0;
    color: black;
    border: none;
    width: 300px;
    height: 62px;
    font-size: 18px;


}

.dropdown-menu {
    padding: 0;
    .dropdown-item {
        width: 300px;
        font-size: 18px;
        text-align: center;
        background-color: $primary;
        color: white;
        padding: 10px;
    }
    .dropdown-item:hover{
        color: lightgrey;
    }
}