<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /chd104/g3/admin
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /chd104/g3/admin/index.html [L]
</IfModule>