.admin_banner{
    margin-left: 200px;
    padding-top: 50px;
    flex-grow: 1;
    padding: 20px 20px 20px 0;
    position: relative;
    .table{
        margin-top: 30px;
    }
}
.admin_banner_title{
    display: block;
    font-size: 36px;
    margin-bottom: 30px;
}
th, td {
    vertical-align: middle;
    text-align: center;
}
h1{
    margin-top: 30px;
    text-align: center;
}
i{
    margin: 0 5px 0 5px;
}
.admin_banner_upload{
    width: 150px;
    height: 80px;
    img{
        height: 100%;
    }
}
.admin_banner_preview{
    width: 150px;
    height: 80px;
    display: inline-block;
    img{
        width: 160px;
        height: 100%;
    }
}
.mb-3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    span{
        font-size: 12px;
    }
}
.admin_banner_addbutton{
    height: 37px;
    position: absolute;
    right: 30px;
    top: 70px;
}