.game {
    margin-left: 200px;
    padding-top: 50px;
    text-align: center;
    flex-grow: 1;
    padding: 20px 20px 20px 0;

    h2 {
        text-align: center;
    }

    .game_btn {
        display: flex;
        justify-content: space-between;
    }

    .game_search {
        color: #E73F14;
        border: 1px solid #E73F14;
        border-radius: 10px;
        padding: 5px;
        background-color: transparent;
        margin-right: 20px;
        outline: none;
    }

    ::placeholder {
        color: #E73F14;
    }

    .page-link {
        border-radius: 50%;
        border: 1px solid $primary;
        font-weight: bold;
        background: none;
        margin-right: 8px;
    }

    .page {
        display: flex;
        justify-content: end;
    }
}