.groupdetail {
    display: flex;

    // height: 100vh;
    .groupdetailRight {
        flex-grow: 1;
        /* 剩餘空間填滿主內容 */
        padding: 20px 20px 20px 0;
        margin-left: 200px;

        h1 {
            text-align: center;

        }

        .groupdetailAdd {
            height: 37px;
            position: absolute;
            right: 30px;
            top: 30px;
        }

        
    }
    table th,table td{
        background: none!important;
    }
}