.products {
    display: flex;
    // height: 100vh;
    &_right {
        flex-grow: 1;
        /* 剩餘空間填滿主內容 */
        padding: 20px 20px 20px 0;
        margin-left: 200px;
        tr {
            vertical-align: center;
        }
        .prodDelete {
            display: block;
            margin-top: 5px;
        }
        .pagination{
            float: right;
            .pageLink{
                border-radius: 50%;
                font-weight: bold;
                margin:0 4px;
            }
        }
    }
    &_title{
        text-align: center;
    }
    &_add {
        position: absolute;
        right: 30px;
        top: 30px;
    }
    table th,table td{
        background: none!important;
    }
}