.TagSideBar{
    display: flex;
}
.productFeature{
    position: relative;
    &_right{
        margin-left: 200px;
    }
    &_title{
        text-align: center;
    }
    &_add{
        position: absolute;
        top: 100px;
        right:0;
    }
}