.productTag{
    display: flex;
    //height: 100%;
    &_right{
        margin-left: 200px;
        padding: 20px 20px 20px 0;
        flex-grow: 1;
    }
    &_title{
        text-align: center;
    }
    &_add{
        position: absolute;
        top: 70px;
        right: 70px;
    }
    .pagination{
        float: right;
        .pageLink{
            border-radius: 50%;
            font-weight: bold;
            margin:0 4px;
        }
    }
    table th,table td{
        background: none!important;
    }
}