.products {
    display: flex;

    // height: 100vh;
    .productRight {
        flex-grow: 1;
        /* 剩餘空間填滿主內容 */
        padding: 20px 20px 20px 0;
        margin-left: 200px;

        h1 {
            text-align: center;

        }

        .productAdd {
            height: 37px;
            position: absolute;
            right: 30px;
            top: 30px;
        }

        tr {
            vertical-align: center;
            
        }

        .prodDelete {
            display: block;
            margin-top: 5px;
            // width: 77px;
        }



    }

    .productRight .pagination {
        position: fixed;
        bottom: 5px;
        right: 20px;
        
        .page-link{
            border-radius: 50%; 
        }
    }
}